$midnights-gradient: linear-gradient(rgb(136, 171, 190), rgb(2, 15, 58)); 
$midnights-shadow: rgba(2, 15, 58, 0.25);
$midnights-line: rgb(136, 171, 190);

$evermore-gradient: linear-gradient(rgb(254, 140, 0), rgb(188, 0, 0)); 
$evermore-shadow: rgba(188, 0, 0, 0.25);
$evermore-line: rgb(254, 140, 0);

$folklore-gradient: linear-gradient(rgb(135, 135, 135), rgb(50, 50, 50)); 
$folklore-shadow: rgba(50, 50, 50, 0.25);
$folklore-line: rgb(135, 135, 135);

$lover-gradient: linear-gradient(rgb(255, 168, 255), rgb(92, 139, 196)); 
$lover-shadow: rgba(92, 139, 196, 0.25);
$lover-line: rgb(255, 168, 255);

$reputation-gradient: linear-gradient(rgb(79, 124, 81), rgb(0, 0, 0)); 
$reputation-shadow: rgba(0, 0, 0, 0.25);
$reputation-line: rgb(79, 124, 81);

$nineteen-gradient: linear-gradient(rgb(142, 186, 251), rgb(114, 106, 207)); 
$nineteen-shadow: rgba(114, 106, 207, 0.25);
$nineteen-line: rgb(142, 186, 251);

$red-gradient: linear-gradient(rgb(222, 140, 163), rgb(174, 30, 73));
$red-shadow: rgba(174, 30, 73, 0.25);
$red-line: rgb(222, 140, 163);

$speak-gradient: linear-gradient(rgb(152, 99, 220), rgb(115, 18, 112)); 
$speak-shadow: rgba(115, 18, 112, 0.25);
$speak-line: rgb(152, 99, 220);

$fearless-gradient:linear-gradient(rgb(255, 186, 82), rgb(182, 123, 9)); 
$fearless-shadow: rgba(182, 123, 9, 0.25);
$fearless-line: rgb(255, 186, 82);

$debut-gradient: linear-gradient(rgb(58, 166, 237), rgb(27, 96, 105)); 
$debut-shadow: rgba(27, 96, 105, 0.25);
$debut-line: rgb(58, 166, 237);

$other-gradient: linear-gradient(rgb(36, 36, 36), rgb(0, 0, 0)); 
$other-shadow: rgba(0, 0, 0, 0.25);
$other-line: rgb(255, 255, 255);
